.check-mark {
    transition: all 0.5s;
    position: relative;
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
}

.check-mark__line {
    position: absolute;
    top: 20px;
    left: 16px;
}

.check-mark__line::after,
.check-mark__line::before {
    content: '';
    display: inline-block;
    background-color: var(--color-text-yellow);
    width: 15px;
    height: 2px;
    position: absolute;
}


.check-mark__line::before {
    transform: rotate(-45deg);
    left: -10px;
}

.check-mark__line::after {
    transform: rotate(45deg);
}

/* active */

.check-mark_active {
    transform: rotate(180deg);
}