.link {
    text-decoration: none;
    transition: all 0.3s;
}

@media (hover:hover) {
    .link:hover {
        color: var(--color-text-yellow);
    }
}

@media (hover:none) {
    .link:active {
        color: var(--color-text-yellow);
    }
}