.card__img {
    width: 50px;
    margin-bottom: auto;
}

.card {
    border-radius: 0 20px;
    height: 100%;
    border-radius: 0 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

@media (hover:hover) {
    .card {
        transition: all 0.3s;
    }

    .card:hover {
        opacity: 0.9;
    }

    .card__text {
        transition: all 0.3s;
        overflow: hidden;
        max-height: 0;
    }

    .card:hover>.card__text {
        max-height: 100px;
    }
}




@media (hover:none) {
    .card {
        opacity: .9;
    }
}