@import url(./components/header/header.css);
@import url(./components/square.css);
@import url(./components/button.css);
@import url(./components/gradient-line.css);
@import url(./components/card/card.css);
@import url(./components/square_dark.css);

:root {
    --font-size-text: 20px;
    font-size: var(--font-size-text);
    --font-size-white-part-title: 1.8rem;
    --font-size-title: 2.7rem;
    --font-size-card: 0.85rem;
    --font-size-text-big: 1.25rem;
    --color-text-purple: rgb(151, 151, 218);
    --color-text-purple-dark: rgb(89, 89, 139);
    --color-text-grey: rgba(116, 116, 116, 0.808);
    --color-text-white: whitesmoke;
    --color-background: rgba(255, 255, 255, 1);
    --color-background07: rgba(255, 255, 255, 0.7);
    --color-background-black: #1f2122;
    --color-background07-black: #1f2122c0;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat';
}

a,
p,
button {
    font-size: var(--font-size-text);
}

h1,
h2 {
    font-size: var(--font-size-title);
    letter-spacing: 1.1px;
}

/* inner */
.black-part-section1__inner,
.white-part-section-3__inner,
.header_position,
.white-part-section-2__inner,
.white-part-section-4__inner,
.white-part-section-1__inner {
    margin: 0 140px;
    width: calc(100% - 280px);
}



/* header */

.header_position {
    position: absolute;
    top: 0;
    left: 0;
}

.header__menu-link {
    color: var(--color-text-white);
    font-weight: 500;
}

/* white-part-section-1 */



.white-part {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(255, 255, 255, 0.1)), url(../images/897f6845724e4711b48b8d91a599db1d.jpg);
    background-size: cover;
    background-position: center center;
}

.white-part-section-1__header {
    font-size: var(--font-size-white-part-title);
}

.white-part-section-1__indentation {
    height: 300px;
    width: 100%;
}

.white-part-section-1__h1-wrapper {
    margin: 0 0 50px;
}

.white-part-section-1__square-wrapper {
    max-width: 900px;
}


/* white-part-section-2 */


.white-part-section-2 {
    background: linear-gradient(20deg, var(--color-background) 0%, var(--color-background) 60%, var(--color-background-07) 70%, rgba(255, 255, 255, 0) 90%);
}

.white-part-section-2__indentation {
    width: 100%;
    height: 200px;
}

.white-part-section-2__p-wrapper {
    max-width: 800px;
    margin-bottom: 100px;
}

.white-part-section-2__button-wrapper {
    margin: 0 40px 100px;
}


.white-part-section-2__gradient-line-wrapper {
    margin-top: -140px;
}

.button__span_white {
    background-color: white;
}

/* white-part-section-3 */


.white-part-section-3 {
    background: white;
}


.white-part-section-3__inner {
    display: grid;
    gap: 10px;
    grid-template-areas:
        'small-header small-header small-header small-header'
        'h2 h2 h2 h2'
        'text text text button'
        'card1 card2 card3 card4';
}

.white-part-section-3__small-header-wrapper {
    grid-area: small-header;
}

.white-part-section-3__header-wrapper {
    grid-area: h2;
}

.white-part-section-3__text-wrapper {
    max-width: 650px;
    grid-area: text;
}

.white-part-section-3__button-wrapper {
    grid-area: button;
    justify-self: right;
    align-self: center;
    margin: 15px 30px 30px;
}

.white-part-section-3__card-wrapper {
    justify-self: center;
}

.white-part-section-3__card-wrapper_1 {
    grid-area: card1;
}

.white-part-section-3__card-wrapper_2 {
    grid-area: card2;
}

.white-part-section-3__card-wrapper_3 {
    grid-area: card3;
}

.white-part-section-3__card-wrapper_4 {
    grid-area: card4;
}


/* white-part-section-4 */

.white-part-section-4 {
    transition: background 1s;
    background: linear-gradient(197deg, var(--color-background) 0%, var(--color-background) 40%, var(--color-background07) 70%, rgba(0, 0, 0, .1) 90%);
}

.white-part-section-4__indentation {
    height: 300px;
    width: 100%;
}

.white-part-section-4__inner {
    display: flex;
    justify-content: right;
}

.white-part-section-4__square-wrapper {
    max-width: 800px;
}

.white-part-section-4__p {
    max-width: 720px;
    margin-bottom: 40px;
}


/* black-part */


/* black-part-section-1 */

.black-part-section1 {
    background: var(--color-background);
}

.black-part-section1__inner {
    padding: 192px 0;
    display: flex;
    justify-content: right;
}



.black-part-section-1__square-wrapper {
    max-width: 750px;
    position: relative;
    margin-top: -80px;
    left: 40px;
    z-index: 104;
}

.black-part-section-1__h2-wrapper {
    margin: 0 0 25px;
}

.black-part-section-1__p-wrapper {
    margin-bottom: 30px;
}

.black-part-section1__stroika-wrapper {
    height: 455px;
    overflow: hidden;
}

.black-part-section1__stroika {
    width: 911.5px;
}

.black-part-section1__pipes-wrapper {
    width: 160px;
    height: 160px;
    overflow: hidden;
    transform: rotate(-45deg);
    border-radius: 10px;
    position: absolute;
    right: 450px;
    margin-top: 420px;
    z-index: 105;
}

.black-part-section1__pipes {
    transform: translateX(-70px);
}

.black-part-section1__shaft-wrapper {
    position: absolute;
    z-index: 103;
    margin-top: -40px;
    margin-right: -80px;
}

.black-part-section1__shaft {
    border-radius: 10px;

}

.black-part-section-1__dark-square-wrapper {
    max-width: 250px;
    position: absolute;
    margin-top: 230px;
    margin-right: -80px;
}

.black-part-section-1__dark-square__p {
    margin-bottom: 20px;
}

/* media */

@media (max-width:1710px) {
    .card {
        width: 250px;
    }
}

@media (max-width:1440px) {

    .black-part-section1__inner,
    .white-part-section-4__inner,
    .white-part-section-3__inner,
    .header_position,
    .white-part-section-2__inner,
    .white-part-section-1__inner {
        margin: 0 70px;
        width: calc(100% - 140px);
    }
}

@media (max-width:1280px) {
    :root {
        --font-size-text: 18px;
    }

    .black-part-section1__inner,
    .white-part-section-4__inner,
    .white-part-section-3__inner,
    .header_position,
    .white-part-section-2__inner,
    .white-part-section-1__inner {
        margin: 0 30px;
        width: calc(100% - 60px);
    }

    .white-part-section-3__inner {
        grid-template-areas:
            'small-header small-header small-header small-header'
            'h2 h2 h2 h2'
            'text text text button'
            'card1 card2 card3 card4';
    }

    .card {
        width: 200px;
    }
}

@media (max-width:960px) {
    :root {
        --font-size-text: 17px;
        --font-size-card: 1.1rem;
    }

    /* white-part-section-1 */

    .white-part-section-1__indentation {
        height: 150px;
    }

    /* white-part-section-2 */

    .white-part-section-2__indentation {
        width: 100%;
        height: 100px;
    }

    .white-part-section-2__p-wrapper {
        max-width: 800px;
    }

    .white-part-section-2__button-wrapper {
        margin-top: 0;
    }

    .white-part-section-3__inner {
        grid-template-areas:
            'small-header small-header small-header small-header'
            'h2 h2 h2 h2'
            'text text text button'
            'card1 card1 card2 card2'
            'card3 card3 card4 card4';
    }

    .card {
        width: 350px;
    }

}

@media (max-width: 767px) {

    .white-part-section-4__indentation {
        height: 150px;
        width: 100%;
    }

    .white-part-section-3__inner {
        grid-template-areas:
            'small-header small-header small-header small-header'
            'h2 h2 h2 h2'
            'text text text text'
            'button button button button'
            'button button button button'
            'card1 card1 card1 card1'
            'card2 card2 card2 card2'
            'card3 card3 card3 card3'
            'card4 card4 card4 card4';
    }

    .card {
        width: 300px;
    }

    .white-part-section-3__button-wrapper {
        justify-self: left;
        margin: 30px 0;
    }
}

/* modifiers */


.text_white {
    color: whitesmoke;
}

.text_grey {
    color: var(--color-text-grey);
}

.text_black {
    color: black;
}

.text_purple {
    color: var(--color-text-purple);
}

.text_500 {
    font-weight: 500;
}

.font_card {
    font-size: var(--font-size-card);
}

.font_text {
    font-size: var(--font-size-text);
}

.font_white-part-title {
    font-size: var(--font-size-white-part-title);
}

.font_title {
    font-size: var(--font-size-title);
}

.font_card {
    font-size: var(--font-size-card);
}

.font_big {
    font-size: var(--font-size-text-big)
}